{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
	<link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}"/>
{% endblock %}


{% block content %}
<br><br><br><br>
<div class="container">
<br><br><br><br>
<div class="row text-center">
<br><br><br><br>
<div class="col-xs-1 col-sm-4 col-md-4"></div>
<div class="col-xs-12 col-sm-4 col-md-4">
<div class="container-fluid" style="">
		<div style="padding-top: 10px;">
			<form class='form-horizontal' action="" method="POST">
			<div class="form-group"> 
			<h2 class="head"><strong>Select Type</strong></h2>
	      	<hr />
				{% csrf_token %}
				{% if form.non_field_errors %}
				<div class="form-group text-error">
				{{ form.non_field_errors }}
				</div>
				{% endif %}
				<p class="lead">What type of email is it?</p>
				<select class="text-center" name='category'>  <!-- Dynamically load the categories -->
				{% for model,cleaned_model in combined_list %}
					  <option value="{{ model }}">{{ cleaned_model|title }}</option>
			    {% endfor %}
				</select>
				<br>
				<br>
				<br>
				<div class="row">
				<input type='submit' class="btn btn-primary btn-md" style="" value="Next"><br><br>
				<button type='button' class="btn btn-write" onClick="history.go(-1);return true;" style="float: left; padding-left: 40px;"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</button>
				</div>
			</div>
			</form>	
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}